/*each page links to this stylesheet for fonts, navbar, and margins*/
/*these all pertain to the navigation bar*/
*
{
    font-family: "Avenir", "Helvetica", "Verdana";
}


a
{
    font-size: 1.5em;
}

a.navbar-brand{
    font-size: 1.9em;
    font-weight: bold;
}
a:hover
{
    background-color: lightskyblue !important;
}

.navbar .container-fluid
{
    margin: 0px 15% 0px 15%;
}

header
{
    width: 100%;
}

/*these pertain to the page margins*/
.container
{
    padding: 0px !important;
    width: 100% !important;
}

main
{
    margin: 0px 15% 0px 15%;
}